<div class="main-page-wrapper">
  <div class="left-text">
    <h1 class="typewriter">Hi Reese ❤️</h1>
    @if (show[1]) {
    <p class="typewriter">I love you, and you are my whole world.</p>
    } @if (show[2]) {
    <p class="typewriter">
      I love the way you smile,<br />
      the way you make that cheeky face,<br />
      and the way you laugh.
    </p>
    } @if (show[4]) {
    <p class="typewriter">
      I love the way you make me feel,<br />
      and how you inspire me to be a better person every day.
    </p>
    } @if (show[6]) {
    <p class="typewriter">
      I know we have our problems,<br />
      but I know I can't spend this life without you.
    </p>
    } @if (show[8]) {
    <p class="typewriter">
      Even if it means trying every single day to make you happy,<br />
      I will gladly do it.
    </p>
    } @if (show[10]) {
    <p class="promise-text typewriter">
      I promise to always try to make you happy and to be the best partner I can
      be.
    </p>
    } @if (show[12]) {
    <h3 class="always typewriter">Always and forever 🖤</h3>
    <div class="signature typewriter">— Ananth</div>
    }
  </div>
  <div class="right-heart">
    <img
      src="https://media.tenor.com/uyX3XmSpaRMAAAAj/prima-love-love-day.gif"
      alt="Heart with flowers"
      class="heart-animation"
    />
  </div>
</div>
